@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
  background-color: black;
  color: white;
  font-family: 'Libre Baskerville', serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.poster {
  width: 50%;
  text-align: center;
}

.motivation-img {
  width: 50%;
  border: 5px solid white;
  border-radius: 8px;
}

h1 {
  text-transform: uppercase;
  margin-top: 20px;
}

p {
  font-size: 18px;
  margin-top: 10px;
  line-height: 1.5;
}
